@{
    ViewData["Title"] = "Iniciar sesión";
}

<h1>Iniciar sesión</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" name="correo" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
