@model AsistenciaUniversitaria.Web.Models.Estudiante

@{
    ViewData["Title"] = "Agregar Estudiante";
}

<h1>Agregar Estudiante</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input name="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Carnet</label>
        <input name="Carnet" class="form-control" />
    </div>


    <div class="mb-3">
        <label class="form-label">Estado</label>
        <select name="Estado" class="form-select">
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
